@model Aurora.ViewModels.KierunekStudiowKluczViewModel

@{
    ViewData["Title"] = "Nowy kierunek";
}

<h1>Dodawanie nowego kierunku studiów - podstawowe dane</h1>

<div>
    <h3 class="text-danger">@ViewBag.Blad</h3>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DodajNowyKierunekStudiow">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JezykWykladowy" class="control-label"></label>
                <select asp-for="JezykWykladowy" class="form-control" asp-items="Html.GetEnumSelectList<Aurora.Enums.Jezyk>()"></select>
                <span asp-validation-for="JezykWykladowy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PoziomStudiow" class="control-label"></label>
                <select asp-for="PoziomStudiow" class="form-control" asp-items="Html.GetEnumSelectList<Aurora.Enums.PoziomStudiow>()"></select>
                <span asp-validation-for="PoziomStudiow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiejsceStudiow" class="control-label"></label>
                <select asp-for="MiejsceStudiow" class="form-control" asp-items="Html.GetEnumSelectList<Aurora.Enums.MiejsceStudiow>()"></select>
                <span asp-validation-for="MiejsceStudiow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NazwaKierunku" class="control-label"></label>
                <input asp-for="NazwaKierunku" class="form-control" />
                <span asp-validation-for="NazwaKierunku" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormaStudiow" class="control-label"></label>
                <select asp-for="FormaStudiow" class="form-control" asp-items="Html.GetEnumSelectList<Aurora.Enums.FormaStudiow>()"></select>
                <span asp-validation-for="FormaStudiow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kontynuuj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

