@model Aurora.Models.Opinia

@{
    ViewData["Title"] = "Opinia";
}

<h1>Dodaj opinie na temat rekrutacji</h1>


<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Opinia">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="KandydatID" />
            <input type="hidden" asp-for="TuraRekrutacjiID" />
            <div class="form-group">
                <label asp-for="IntuicyjnoscSystemu"></label>
                <select asp-for="IntuicyjnoscSystemu" class="form-control">
                    <option value=>Wybierz opcje</option>
                    <option value=1>Bardzo mała</option>
                    <option value=2>Mała</option>
                    <option value=3>Średnia</option>
                    <option value=4>Dobra</option>
                    <option value=5>Bardzo dobra</option>
                </select>
                <span asp-validation-for="IntuicyjnoscSystemu" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="InformowanieOStatusie"></label>
                <select asp-for="InformowanieOStatusie" class="form-control">
                    <option value=>Wybierz opcje</option>
                    <option value=1>Bardzo małe</option>
                    <option value=2>Małe</option>
                    <option value=3>Średnie</option>
                    <option value=4>Dobre</option>
                    <option value=5>Bardzo dobre</option>
                </select>
                <span asp-validation-for="InformowanieOStatusie" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="JakoscPomocy"></label>
                <select asp-for="JakoscPomocy" class="form-control">
                    <option value=>Wybierz opcje</option>
                    <option value=1>Bardzo mała</option>
                    <option value=2>Mała</option>
                    <option value=3>Średnia</option>
                    <option value=4>Dobra</option>
                    <option value=5>Bardzo dobra</option>
                </select>
                <span asp-validation-for="JakoscPomocy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tresc"></label>
                <textarea asp-for="Tresc" class="form-control" rows="7" style="resize: none;"></textarea>
                <span asp-validation-for="Tresc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Wyślij" class="btn btn-primary" />
                <a class="btn btn-primary" asp-action="Index">Powrót</a>
            </div>
        </form>
    </div>
</div>

@if (ViewBag.PopUpMessage != null)
{
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 style="text-align: center">@ViewBag.PopUpMessage</h3>
                    <button style="float: right" type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index")'">OK</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            var popUpMessage = '@Html.Raw(ViewBag.PopUpMessage)';

            if (popUpMessage.trim() !== '') {
                $('#myModal').modal({ backdrop: 'static', keyboard: false });
                $('#myModal').modal('show');
            }
        });
    </script>
}