@model Aurora.Models.AplikacjaRekrutacyjna

@{
    ViewData["Title"] = "Szczegoly";
}

<h1>Szczegóły</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container">
    <div class="row">
        <!-- Pierwsza tabela (kolumna 1) -->
        <div class="col-md-6">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Dane 1,1</td>
                        <td>Dane 1,2</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-6">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Dane 2,1</td>
                        <td>Dane 2,2</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Dane 3,1</td>
                        <td>Dane 3,2</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Czwarta tabela (kolumna 2) -->
        <div class="col-md-6">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Dane 4,1</td>
                        <td>Dane 4,2</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

