/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.table {
    table-layout: fixed;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
/* site.css */

.frame-container {
    background-color: #f0f0f0;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.frame-container p {
    margin: 0;
}

.frame-container button {
    margin-top: 10px;
}


.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-buttons {
    margin-top: 10px;
}


.application-break-row {
    height: 40px;
}

.left-table {
    float: left;
}

.right-table {
    float: right;
}

.text-right {
    float: right;
    white-space: nowrap;
}

rr-form-table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 60px;
    margin: 0 auto;
    width: 50%;
}

.rr-form-table {
    border-collapse: collapse;
    width: 50%;
    margin: auto;
}

.rr-form-table th, .rr-form-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.rr-form-table th {
    background-color: #f2f2f2;
    text-align: center;
}

.rr-form-table td {
    text-align: center;
}

.rr-form-table td label {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
}

.rr-main-header {
    text-align: center;
    margin-bottom: 30px;
}
.rr-form-table h2 h5 {
    margin-bottom: 20px;
    text-align: center;
}

.centered-div {
    text-align: center;
    margin-top: 20px;
}

.rr-title {
    margin-bottom: 20px;
}

.center-text {
    padding: 20px;
    text-align: center;
}

.index-offers-button {
    margin-right: 5px;
    width: 100%;
}

.index-sort-panel {
    margin-right: 10px;
    margin-bottom: 40px;
}
.assignment-button {
    padding: 8px 16px;
}

.item-separator {
    height: 10px; /* Dowolna wysokość obramowania */
}

.last-row {
    margin-bottom: 20px;
}

.list-outer-border {
    border: 1px solid #000; /* Kolor i szerokość obramowania */
    list-style: none; /* Usunięcie domyślnego punktu przed każdym elementem listy */
    padding-block: 0px; /* Usunięcie domyślnego wewnętrznego marginesu listy */
    padding-right: 50px; /* Usunięcie domyślnego wewnętrznego marginesu listy */
    margin-left: -50px;
    margin-right: 50px;
}
.list-outer-border2 {
    border: 1px solid #000; /* Kolor i szerokość obramowania */
    list-style: none; /* Usunięcie domyślnego punktu przed każdym elementem listy */
    padding-block: 0px; /* Usunięcie domyślnego wewnętrznego marginesu listy */
    padding-right: 0px; /* Usunięcie domyślnego wewnętrznego marginesu listy */
    margin-left: -150px;
    margin-right: -150px;
}

.list-item {
    margin-bottom: 10px; /* Domyślny margines poniżej elementu listy */
}

.list-item:last-child {
    margin-bottom: 0; /* Usunięcie marginesu dla ostatniego elementu listy */
}

.button-container {
    white-space: nowrap;
}

.button-container button {
    margin-right: 5px;
}

.top-margin {
    margin-top: 20px;
}

.select-item {
    width: 200px;
    margin-right: 5px;
}


.withOutBorderTopBorder {
    border-top: none !important;
    border-bottom: none !important;
}

.blodFirstChild td:first-child {
    font-weight: bold;
}


.wide-column {
    width: 175px;
}

