@model IEnumerable<Aurora.Models.AplikacjaRekrutacyjna>

@{
    ViewData["Title"] = "Moje aplikacje";
}

<div class="centered-div">
    <h1 class="center-text">Brak dostępnych egzaminów</h1>
</div>

<div class="float-left">
    <a class="btn btn-primary" asp-action="Details" asp-route-id="@ViewBag.AplikacjaID">Powrót</a>
</div>

@if (ViewBag.PopUpMessage != null)
{
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 style="text-align: center">@ViewBag.PopUpMessage</h3>
                    <button style="float: right" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            var popUpMessage = '@Html.Raw(ViewBag.PopUpMessage)';

            if (popUpMessage.trim() !== '') {
                $('#myModal').modal({ backdrop: 'static', keyboard: false });
                $('#myModal').modal('show');
            }
        });
    </script>
}